<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important Dates</title>
</head>
<body>
    <form action="" method="post">
    {{ form.as_p }}
    <input type="submit" value="Add..">
    </form>

    {% if '.doc' in 'request.build_absolute_docuri' %}
    hello
{% else %}
    bye
{% endif %}

{% if "asdfasdfadf.DOCX"|lower|slice:"-5:" == ".docx" %}
docx found
{% else %}
docx not found
{% endif %}

{{ "asdfasdfadf.DOCX"|lower|slice:"-4:" }}
{{ "SDFASDFASDF.DOCX"|lower }}
</body>
</html>